:root{
    --vermelho: #e50914;
    --preto: #141414;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--preto);
    font-family: sans-serif;
    color: white;
}

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .logo{
    margin-left: 5px;
    /* border: 2px solid white;; */
    color: var(--vermelho);
    font-family: "Arial Black", Helvetica, sans-serif;
    font-size: 25px;
}

header nav a{
    text-decoration: none;
    color: #AAA;
    margin-right: 10px;
}

header nav a:hover{
    color: #fff;
}

/*Filme principal*/
.main-movie{
    font-size: 18px;
    background: linear-gradient(rgba(0,0,0,.50), rgba(0,0,0,.50) 100%), url("/img/house-cover.jpg");
    height: 400px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.main-movie .description{
    margin-bottom: 40px;
}

.title{
    font-size: 40px;
}